In [12]:
x=90

In [ ]:
if(x==90):
    print(True)
else:
    print(False)

In [ ]:
marks=56
if marks >=80:
    print("you will be a part of A0 batch")
elif marks>=60 and marks<80:
    print("u will be a part of ! batch")
elif marks>=40 and marks<60:
    print("u will be not a part of A2 batch")
else:
    print("A3 batch")

In [ ]:
10>=89

In [ ]:
input("enter name")

In [21]:
s=input("enter name")

In [ ]:
Avishek

In [23]:
marks1=input("Enter marks")

In [24]:
marks2=90

In [ ]:
print(marks2)

In [ ]:
x=int(input("enter number:"))

In [ ]:
type(marks)

In [ ]:
price=5000
if price>1000:
    print("I will not purchase")

In [32]:
l=[1,2,3,4,5,6,7]

In [5]:
print(l)

NameError: name 'l' is not defined

In [ ]:
for i in l:
    print(i)

In [4]:
for i in l:
    print(i+1)

NameError: name 'l' is not defined

In [ ]:
l

In [2]:

for i in l:
    print(i+1)

NameError: name 'l' is not defined

In [3]:
l2

[]

In [6]:
l3=[1,2,3,4,5,6]

In [7]:
print(l3)

[1, 2, 3, 4, 5, 6]

In [9]:
for i in l3:
    print(i)

1
2
3
4
5
6

In [10]:
l4=[]
for i in l3:
    print(i+1)
    l4.append(i+1)
l4

2
3
4
5
6
7

[2, 3, 4, 5, 6, 7]

In [11]:
l4

[2, 3, 4, 5, 6, 7]

In [12]:
l=["avishek","Rohit","Ankit","Rahul"]

In [14]:
for i in l:
    print(i.upper())

AVISHEK
ROHIT
ANKIT
RAHUL

In [15]:
l5=[1,2,3,4,5,"Avishek","kumar",123,456,678,459,"bca"]

In [21]:
a1_num=[]
a2_str=[]
for i in l:
    if type(i)==int or type(i)==float:
            a1_num.append(i)
    else:
          a2_str.append(i)

In [25]:
print(a2_str)

['avishek', 'Rohit', 'Ankit', 'Rahul']

In [26]:
a1_num

[]